<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxb.user.dao.UserDao">
	<sql id="Base_Column_List">
		username, password,email
	</sql>
	<select id="loginUser" resultType="user">
		select
		<include refid="Base_Column_List" />
		from user
		where username = #{username} and password = #{password}
	</select>

	<insert id="registUser">
		insert into user (
			username , password , email
		) values (
			#{username} , #{password} , #{email})
	</insert>
</mapper>